.env
*.mo
*.pot
.idea
venv/
.venv/
migrations/
/redis/data/dump.rdb
/redis/data/redis_dump.rdb
/locales/en/LC_MESSAGES/anna_nihongo_bot.mo
/locales/ru/LC_MESSAGES/anna_nihongo_bot.mo
/user.log
/temp/
/anna-nihongo-bot-96c6f518f0cd.json
/pyproject.toml
__pycache__/
external_services/bot-96c6f518f0cd.json
media/
